.article:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(-3.5rem - 1px);
  left: calc(50% - 1px);
  width: 1px;
  height: calc(3.5rem + 1px);
  background: #ffffff;
}

.article {
  position: relative;
  z-index: 2;
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
}
.article h1,
.article h2 {
  display: block;
  text-align: center;
}

.article h2 {
  font-size: 1.4rem;
}

.content {
  color: #333;
  background: rgba(255, 255, 255, 0.8);
  transition: max-height 0.75s ease, padding 0.75s ease,
    opacity 0.325s ease-in-out;
  transition-delay: 0.25s;
  padding: 2rem;
  overflow: hidden;
}

.inner > :last-child {
  margin-bottom: 0;
}

.content p {
  letter-spacing: 0.05rem;
  font-size: 0.8rem;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 1rem;
  }
}

.content a {
  display: inline-block;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin-bottom: 5px;
  transition: all 300ms ease;
  color: #0d0d0d;
  padding: 0.25rem;
  position: relative;
  border-bottom: 1px solid #0d0d0d;
}

.content a:hover,
.content a:focus,
.content a:active {
  background-color: #0d0d0d;
  color: #fdfdfd;
}
