/* Header */
.header {
  display: flex;
  color: #fff;
  flex-direction: column;
  justify-content: center;
  margin: 3.5rem auto;
  align-items: center;
  transition: transform 0.325s ease-in-out, filter 0.325s ease-in-out,
    opacity 0.325s ease-in-out;

  max-width: 66%;
  text-align: center;
  z-index: 1;
}

.siteName {
  padding: 1rem 0;
  /* font-family: 'Cinzel', serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 1.99rem;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
  text-transform: uppercase;
}

.header > * {
  transition: opacity 0.325s ease-in-out;
  position: relative;
  margin-top: 3.5rem;
}

.header > *:before {
  content: '';
  display: block;
  position: absolute;
  top: calc(-3.5rem - 1px);
  left: calc(50% - 1px);
  width: 1px;
  height: calc(3.5rem + 1px);
  background: #ffffff;
}

.header > :first-child {
  margin-top: 0;
}

.header > :first-child:before {
  display: none;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
